@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* h1 {
  text-shadow: 0 0 0.3vw rgb(255, 255, 255);
  font-weight: 200;
  font-size: 2.4vw;
}
* a {
  color: inherit;
  text-decoration: none;
}
@media (max-width: 900px) and (orientation: portrait) {
  * h1 {
    font-size: 4vh;
    text-shadow: 0 0 0.7vh white;
  }
}

.home {
  display: flex;
  height: 100vh;
  width: auto;
  align-items: normal;
  flex-direction: column;
  justify-content: center;
  height: 100dvh;
  padding: 0 6.5vw;
  font-weight: 100;
  text-shadow: 0px 0px 0.8vw white;
}
.home__name {
  font-size: 5.6vw;
}
.home__message {
  letter-spacing: 0.14vw;
  font-size: 4.4vw;
}

@media (max-width: 576px) and (orientation: portrait) {
  .home {
    gap: 0.7vh;
  }
  .home__name {
    font-size: 9vw;
  }
  .home__message {
    letter-spacing: 0;
    font-size: 7.3vw;
  }
}
.projects {
  min-height: 100vh;
  min-height: 100dvh;
  padding: 9vh 7.5vw;
}
@media (max-width: 500px) and (orientation: portrait) {
  .projects {
    padding-top: 6vh;
  }
}
.projects__list {
  width: 88%;
  padding-top: 4vh;
  margin-left: 3vw;
  font-size: 1.3vw;
}
.projects__list-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5vw;
  padding: 1vw;
}
.projects__list-item {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
}
.projects__list-image {
  width: 100%;
  border-radius: 0.5vw;
}

@media (max-width: 900px) and (orientation: portrait) {
  .projects {
    padding-bottom: 3vh;
  }
  .projects__list {
    width: 100%;
    margin: auto;
    font-size: 2.5vh;
  }
  .projects__list-row {
    flex-direction: column;
  }
  .projects__list-item {
    width: 90%;
    margin-bottom: 3vh;
  }
  .projects__list-image {
    border-radius: 1vh;
  }
}
.about {
  min-height: 100vh;
  min-height: 100dvh;
  padding: 9vh 7.5vw;
}
@media (max-width: 500px) and (orientation: portrait) {
  .about {
    padding-top: 6vh;
  }
}
.about__profile {
  margin-bottom: 7vh;
}
.about__profile-text {
  margin: 4vh 3vw 0;
  text-indent: 3.6vw;
  font-size: 1.65vw;
  width: 75vw;
}
.about__skills-list {
  display: flex;
  height: auto;
  width: 75vw;
  align-items: normal;
  flex-direction: row;
  justify-content: center;
  margin: 5vh 2.2vw 0;
  gap: 1.5vw;
}
.about__skills-row {
  display: flex;
  height: auto;
  width: auto;
  align-items: normal;
  flex-direction: row;
  justify-content: center;
  gap: inherit;
}
.about__skills-item {
  width: 8.7vw;
  aspect-ratio: 1/1;
  border-width: 0.1vw;
  border-style: solid;
  -o-border-image: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.452)) 1;
     border-image: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.452)) 1;
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.3137254902), rgba(255, 255, 255, 0) 60%);
}
.about__skills-logo {
  display: flex;
  height: 75%;
  width: auto;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.about__skills-logo svg {
  height: 85%;
  margin-top: 1vh;
}
.about__skills-title {
  display: flex;
  height: 20%;
  width: auto;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  font-size: 1.1vw;
}

@media (max-width: 900px) and (orientation: portrait) {
  .about__profile-text {
    margin: 4vh 0;
    width: 100%;
    text-indent: 4vh;
    font-size: 2.5vh;
  }
  .about__skills-list {
    flex-direction: column;
    margin: 5vh auto 0;
    gap: 2.5vh;
  }
  .about__skills-item {
    width: 15vh;
  }
  .about__skills-title {
    font-size: 1.6vh;
  }
}
.menu {
  display: flex;
  height: 100vh;
  width: 15vw;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 100dvh;
  position: fixed;
  right: 0;
  z-index: 1;
}
.menu__list {
  width: 100%;
  list-style: none;
  font-size: 1.2vw;
}
.menu__item {
  padding: 3vh 3vw 3vh 0;
}
.menu__item:first-child {
  display: none;
  justify-content: end;
}
.menu__item-link {
  display: flex;
  justify-content: end;
}
.menu__item-link:hover .menu__item-title {
  opacity: 1;
}
.menu__item-title {
  display: flex;
  height: auto;
  width: auto;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  text-shadow: 0 0 0.9vw rgb(255, 255, 255);
  opacity: 0;
  transition: 0.5s;
}
.menu__item-icon {
  max-width: 4vw;
  filter: drop-shadow(0 0 0.8vw rgba(255, 255, 255, 0.7));
  margin-left: 1.5vw;
  font-size: 2.7vw;
}

@media (max-width: 900px) and (orientation: portrait) {
  .menu {
    height: 35vh;
    min-width: 30vw;
    align-items: start;
  }
  .menu__item {
    padding: 2vh 5.5vw 1.5vh 0;
  }
  .menu__item:first-child {
    display: flex;
    padding: 3vw 5vw 0 0;
  }
  .menu__item:not(:first-child) {
    opacity: 0;
    transition: 1s;
  }
  .menu__item-icon {
    font-size: 4.2vh;
    max-width: none;
    margin-right: 0.2vh;
    filter: drop-shadow(0 0 0.7vw #000035) drop-shadow(0 0 0.7vw rgba(255, 255, 255, 0.6901960784));
  }
  .menu__item-icon:first-child {
    font-size: 5.3vh;
    margin-right: 0;
  }
  .menu__item-title {
    opacity: 1;
    font-size: 1.5vh;
    margin-right: 0.7vw;
    text-shadow: 0.08em 0.08em 0.05em #000035, 0.08em 0.08em 0.1em #000040, 0.08em 0.08em 0.3em #000070, 0.08em 0.08em 0.5em #ffffff;
  }
}
.footer {
  display: flex;
  height: 12vh;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(0, 0, 50);
  gap: 2%;
  position: absolute;
  z-index: 2;
  text-shadow: 0 0 0.4vw rgb(255, 255, 255);
}
.footer__copyright {
  width: 75%;
  text-align: center;
  font-size: 1.2vw;
}
.footer__social {
  display: flex;
  height: auto;
  width: 15%;
  align-items: normal;
  flex-direction: row;
  justify-content: space-evenly;
}
.footer__social-icon {
  width: 5vw;
  font-size: 2.6vw;
  filter: drop-shadow(0 0 1.2vw rgba(255, 255, 255, 0.5));
}
.footer__social-icon:hover {
  filter: drop-shadow(0 0 0.8vw rgba(255, 255, 255, 0.5));
}

@media (max-width: 900px) and (orientation: portrait) {
  .footer__copyright {
    font-size: 2vh;
    width: 65%;
  }
  .footer__social {
    width: 25%;
  }
  .footer__social-icon {
    font-size: 4vh;
  }
}
@media (max-width: 576px) and (orientation: portrait) {
  .footer {
    height: 15vh;
    flex-direction: column-reverse;
    gap: 12%;
  }
  .footer__social {
    width: 50%;
    justify-content: center;
    gap: 10%;
  }
  .footer__social-icon {
    min-width: 12vw;
    font-size: 4.2vh;
  }
}
body {
  margin: 0;
  font-family: "Exo 2";
  color: rgb(255, 255, 255);
  background-image: linear-gradient(170deg, hsl(240, 100%, 10%) 3%, hsl(235, 100%, 12%) 32%, hsl(231, 100%, 15%) 47%, hsl(230, 100%, 17%) 57%, hsl(230, 100%, 19%) 66%, hsl(231, 100%, 21%) 73%, hsl(231, 100%, 24%) 79%, hsl(231, 100%, 26%) 84%, hsl(231, 100%, 28%) 88%, hsl(232, 100%, 31%) 91%, hsl(232, 100%, 33%) 94%, hsl(233, 100%, 36%) 96%, hsl(234, 100%, 38%) 98%, hsl(234, 100%, 40%) 99%, hsl(235, 100%, 43%) 100%, hsl(236, 100%, 45%) 100%, hsl(238, 100%, 48%) 100%, hsl(240, 100%, 50%) 100%);
  background-attachment: fixed;
}

main {
  display: flex;
  height: 100vh;
  width: auto;
  align-items: normal;
  flex-direction: column;
  justify-content: center;
  height: 100dvh;
}/*# sourceMappingURL=main.css.map */