.main {
    min-height: 100vh;
    padding: 6vh 7.5vw;
    box-sizing: border-box;
}

#aboutText {
    margin-left: 3vw;
    text-indent: 3.6vw;
    font-size: 1.65vw;
    width: 75vw;
}

#skills {
    text-align: center;
    width: 75vw;
    margin: auto 2.2vw 0;
}

.logo {
    display: inline-block;
    background-image: linear-gradient(to right bottom, #ffffff50, #ffffff00 60%);
    border-width: 0.1vw;
    border-style: solid;
    border-image: linear-gradient(to right, rgb(255, 255, 255, 0.9), rgba(255, 255, 255, 0.452)) 1;
    width: 8.7vw;
    height: 8.7vw;
    margin: 0 0.65vw 1.3vw;
    padding: 1vw;
}

#skills svg {
    width: 6.2vw;
}

.logoTitle {
    display: block;
    font-size: 1.3vw;
    margin-top: 0.8vw;
}


@media (max-width: 768px) {  
    .main {
        padding-top: 4vw;
    }

    .skillsSection {
        margin-top: 5vh;
    }

    #skills {
        width: 100%;
        margin: auto;
        padding: 0;
    }

    #aboutText {
        margin: 0;
        width: 100%;
        text-indent: 4vh;
        font-size: 2.5vh;
    }
}

@media (max-width: 500px) {
    .logo {
        width: calc(100vw/5 - 1vw);
        height: calc(100vw/5 - 1vw);
        margin: 0 1vw 2vw;
        padding: 1.2vh;
    }

    #skills svg {
        width: calc(100vw/5 - 6vw);
    }

    .logoTitle {
        font-size: calc(4vw - 1vw);
    }
}