.main {
    min-height: 100vh;
    padding: 6vh 7.5vw;
    box-sizing: border-box;
}

#constructionMessage {
    display: none;
}

.projectList {
    width: 88%;
    margin-left: 3vw;
    font-size: 1.3vw;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5vw;
    padding: 1vw;
}

.project {
    height: calc(100vh/2.5);
    width: calc(100%/2);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7vw;
}

#image1 {
    height: 85%;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 0.5vw;
}

#image1 {
    background-image: url('../images/construction.png');
    background-size: contain;
    background-repeat: no-repeat;
}

@media (max-width: 768px) {    
    .main {
        padding-top: 4vw;
    }

    .projectList {
        margin: auto;
        width: 100%;
        font-size: 2.5vh;
    }

    .row {
        flex-direction: column;
    }

    .project {
        width: 90%;
        height: calc(100vh/2);
        gap: 2vh;
    }
}

@media (max-width: 480px) {
    .project {
        width: 100%;
        height: calc(100vh/3);
    }

    .row {
        gap: 5vh;
    }
}