.main {
    min-height: 100vh;
    padding: 6vh 7.5vw;
}

.projectsContent {
    min-height: 100vh;
    padding: 6vh 7.5vw;
}

#constructionMessage {
    display: none;
}

.projectList {
    margin: 40px 30px;
    display: block;
}

.project {
    height: 270px;
    width: 450px;
    margin: 20px 20px;
    text-align: center;
    font-size: 20px;
    overflow: hidden;
    display: inline-block;
}

.image {
    width: 100%;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    #constructionMessage {
        display: block;
        text-indent: 30px;
        font-size: 18px;
    }

    .projectList {
        display: none;
    }
}