.menuContent {
    display: flex;
    align-items: center;
    position: fixed;
    right: 0;
    height: 100vh;
    width: 16vw;
    z-index: 1;
    background-color: transparent;
}

ul {
    width: 100%;
    list-style: none;
    padding: 0;
    font-size: 1.2vw;
}

li {
    padding: 3vh 3vw 3vh 0;
}

li:hover {
    cursor: pointer;
}

li a {
    display: flex;
    justify-content: end;
}

.iconTitle {
    display: flex;
    align-items: center;
    text-align: center;
    text-shadow: 0px 0px 0.9vw white;
}

.icon {
    max-width: 4vw;
    filter: drop-shadow(0px 0px 0.8vw rgba(255, 255, 255, 0.7));
    margin-left: 1.5vw;
    font-size: 2.7vw;
}

@media (max-width: 768px) {
    .menuContent {
        display: none;
    }
}