.menu {
    @include flexbox(100vh, 15vw, row, center);
    height: 100dvh;
    position: fixed;
    right: 0;
    z-index: 1;

    &__list {
        width: 100%;
        list-style: none;
        font-size: 1.2vw;
    }

    &__item {
        padding: 3vh 3vw 3vh 0;

        &:first-child {
            display: none;
            justify-content: end;
        }

        &-link {
            display: flex;
            justify-content: end;

            &:hover .menu__item-title{
                opacity: 1;
            }
        }

        &-title {
            @include flexbox(auto, auto, row, center);
            text-shadow: 0 0 0.9vw $white;
            opacity: 0;
            transition: .5s;
        }

        &-icon {
            max-width: 4vw;
            filter: drop-shadow(0 0 0.8vw rgba(255, 255, 255, 0.7));
            margin-left: 1.5vw;
            font-size: 2.7vw;
        }
    }
}

@media (max-width: 900px) and (orientation: portrait) {
    .menu {
        height: 35vh;
        min-width: 30vw;
        align-items: start;

        &__item {
            padding: 2vh 5.5vw 1.5vh 0;

            &:first-child {
                display: flex;
                padding: 3vw 5vw 0 0;
            }

            &:not(:first-child) {         
                opacity: 0;
                transition: 1s;
            }

            &-icon {
                font-size: 4.2vh;
                max-width: none;
                margin-right: 0.2vh;
                filter: drop-shadow(0 0 0.7vw #000035) 
                        drop-shadow(0 0 0.7vw #ffffffb0);

                &:first-child {                    
                    font-size: 5.3vh;
                    margin-right: 0;
                }
            }

            &-title {
                opacity: 1;
                font-size: 1.5vh;
                margin-right: 0.7vw;
                text-shadow: 0.08em 0.08em 0.05em #000035, 
                    0.08em 0.08em 0.1em #000040,
                    0.08em 0.08em 0.3em #000070,
                    0.08em 0.08em 0.5em #ffffff;
            }
        }
    }
}