@mixin flexbox($height: auto, $width: auto, $flex-direction: row, 
               $align-items: normal, $justify-content: center) {
    display: flex; 
    height: $height;
    width: $width;
    align-items: $align-items;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
}