@import './config', './mixins', './pages/home', './pages/projects', './pages/about', 
        './components/menu', './components/footer';

body {
    margin: 0;
    font-family: 'Exo 2';
    color: $white;
    background-image: $background;
    background-attachment: fixed;
}

main {
    @include flexbox(100vh, auto, column);
    height: 100dvh;
}